           <div class="tpl-content-scope">
                <div class="note note-info">
                  
                  
                    <p> <span class="label label-sm label-warning">身份：{:power()} </span> <span class="label label-sm  label-success"> {:share()}</span></p>
                  
                    <h3>尊敬的：{:name()} 您好：
                        <span class="close"></span>
                    </h3>
 
                  
                  
                    <p> 今天是{:date('Y年m月d日')}</p>
                    <p> 欢迎您登陆.祝您身体健康.工作顺利.</p>
                  <br>
                  
                    <p><span class="label label-danger">公告:</span>{:advert()}</p>
                </div>
            </div>





		
			
			 <div class="row">
			
			   <div class="am-u-md-6 am-u-sm-12 row-mb">
                    <div class="tpl-portlet">
                        <div class="tpl-portlet-title">
                            <div class="tpl-caption font-green ">
                                <span>最新活动</span>
                            </div>

                        </div>

                        <div class="am-tabs tpl-index-tabs" data-am-tabs>
           

                            <div class="am-tabs-bd">
                                <div class="am-tab-panel am-fade am-in am-active">
                                    <div id="wrapperA" class="wrapper">
                                        <div id="scroller" class="scroller">
                                            <ul class="tpl-task-list tpl-task-remind">
   

                                                <li>
                                                    <div class="cosB">
                                                        - - -
                                                    </div>
                                                    <div class="cosA">
                                                        <span class="cosIco label-info">
                        <i class="am-icon-bullhorn"></i>
                      </span>

                                                        <span> 暂无活动。</span>
                                                    </div>

                                                </li>
                                              
                                              
                                                                                            
                								  <li>
                                                    <div class="cosB">
                                                        - - -
                                                    </div>
                                                    <div class="cosA">
                                                        <span class="cosIco label-danger">
                        <i class="am-icon-bolt"></i>
                      </span>

                                                        <span> ……</span>
                                                    </div>

                                                </li>
                                              
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                              

                            </div>
                        </div>

                    </div>
                </div>
			
        
            </div>
			


<!--老版本
    <div class="page-title">

        <div class="title-env">
            <h1 class="title">系统公告</h1>

        </div>

        <div class="breadcrumb-env">

            <ol class="breadcrumb bc-1">
                <li>
                    <a ><i class="fa-home"></i>Home</a>
                </li>
            </ol>

        </div>

    </div>
    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">今天是{:date('Y年m月d日')} </div>

                    <div class="panel-options">
                        <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i class="entypo-cog"></i></a>
                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                        <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                        <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
                    </div>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-sm-6">

                                    <h5>尊敬的{:name()}</h5>

                                    <blockquote>
                                        <p>
                                            <strong>身份:{:power()}</strong>
                                            <br />
                                            欢迎您登陆.祝您身体健康.工作顺利.
                                        </p>
                                    </blockquote>

                                </div>


                            </div>

                            <br />

                            <h5>公告</h5>

                            <blockquote class="pull-left" style="width: 100%">
                                <p>{:advert()}</p>
                                <small class="pull-right">
                                    发布人：
                                    <cite title="Source Title">管理员</cite>
                                </small>
                            </blockquote>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
-->